<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20G95</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>axeDevToolsUIKit</string>
	<key>CFBundleIdentifier</key>
	<string>com.deque.axeDevToolsUIKit</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>axeDevToolsUIKit</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>3.4.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneSimulator</string>
	</array>
	<key>CFBundleVersion</key>
	<string>3.4.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>19A339</string>
	<key>DTPlatformName</key>
	<string>iphonesimulator</string>
	<key>DTPlatformVersion</key>
	<string>15.0</string>
	<key>DTSDKBuild</key>
	<string>19A339</string>
	<key>DTSDKName</key>
	<string>iphonesimulator15.0</string>
	<key>DTXcode</key>
	<string>1300</string>
	<key>DTXcodeBuild</key>
	<string>13A233</string>
	<key>DequeMeta</key>
	<string>3.4.0-802-a356ce22</string>
	<key>MinimumOSVersion</key>
	<string>13.0</string>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Black</string>
		<string>Roboto-BlackItalic</string>
		<string>Roboto-Bold</string>
		<string>Roboto-BoldItalic</string>
		<string>Roboto-Medium</string>
		<string>Roboto-Regular</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
</dict>
</plist>
